* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #CC0000;
  text-decoration: underline;
}
li {
  list-style: none;
}
body {
  background-color: #F5F5F5;
}
.shadow {
  box-shadow: 1px 1px 5px #666666;
}
#wrapper {
  width: 90%;
  margin: 20px auto;
  padding: 10px 0;
  overflow: hidden;
}
#wrapper #navLeftBox {
  display: block;
  width: 16%;
  height: 330px;
  margin: 0 0 0 5px;
  float: left;
  background: white;
}
#wrapper #navLeftBox li {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  float: right;
}
#wrapper #navLeftBox li .opc {
  width: 100%;
  height: 30px;
  margin: 10px 0 0 0;
  color: #333;
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  text-align: left;
  line-height: 30px;
}
#wrapper #navLeftBox li .opc i {
  display: block;
  float: left;
  width: 15px;
  height: 18px;
  margin: 6px 8px;
  margin-left: 0;
  background: url(../images/allbgs.png) no-repeat 0 -142px;
}
#wrapper #navLeftBox li .apc {
  width: 107px;
  height: 26px;
  margin: 0 0 0 24px;
  color: #666666;
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  text-align: left;
  line-height: 26px;
  cursor: pointer;
}
#wrapper #navLeftBox li .apc:hover {
  color: #CC0000;
}
#wrapper #navLeftBox .personalSet p i {
  background: url(../images/allbgs.png) no-repeat 0 -89px;
}
#wrapper #navRightBox {
  width: 80%;
  margin: 0 5px 0 0;
  float: right;
  position: relative;
  background: white;
  padding-bottom: 20px;
  box-shadow: 1px 1px 5px #666666;
}
#wrapper #navRightBox #nrTitle {
  display: block;
  width: 92%;
  height: 50px;
  margin: 0 auto;
  margin-top: 2px;
  border-bottom: 2px solid #E6E6E6;
}
#wrapper #navRightBox #nrTitle li {
  display: block;
  width: 112px;
  height: 50px;
  margin: 0;
  margin-bottom: -2px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #CC0000;
  border-bottom: 2px solid #CC0000;
}
#wrapper #navRightBox #nrImgs {
  display: block;
  width: 90%;
  height: 84px;
  margin: 42px 16px 36px 16px;
}
#wrapper #navRightBox #nrImgs li {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 18px;
  margin: 0 50px;
}
#wrapper #navRightBox #nrImgs li a {
  display: block;
  width: 77px;
  height: 84px;
  color: #333;
  margin: 0;
  text-align: center;
  position: relative;
}
#wrapper #navRightBox #nrImgs .daiFuK a,
#wrapper #navRightBox #nrImgs .daiFaH a,
#wrapper #navRightBox #nrImgs .daiSaH a,
#wrapper #navRightBox #nrImgs .daiPingJ a {
  cursor: default;
}
#wrapper #navRightBox #nrImgs .daiFuK a i,
#wrapper #navRightBox #nrImgs .daiFaH a i,
#wrapper #navRightBox #nrImgs .daiSaH a i,
#wrapper #navRightBox #nrImgs .daiPingJ a i {
  display: block;
  width: 56px;
  height: 53px;
  position: relative;
  margin: 0;
  margin-left: 10px;
  background: url(../images/allbgs.png) no-repeat 0 -543px;
}
#wrapper #navRightBox #nrImgs .daiFuK a span,
#wrapper #navRightBox #nrImgs .daiFaH a span,
#wrapper #navRightBox #nrImgs .daiSaH a span,
#wrapper #navRightBox #nrImgs .daiPingJ a span {
  display: block;
  width: 84px;
  height: 17px;
  position: absolute;
  bottom: 5px;
  left: -12px;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}
#wrapper #navRightBox #nrImgs .daiFuK a span e,
#wrapper #navRightBox #nrImgs .daiFaH a span e,
#wrapper #navRightBox #nrImgs .daiSaH a span e,
#wrapper #navRightBox #nrImgs .daiPingJ a span e {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  bottom: 1px;
  right: 0;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  color: white;
  background-color: #CC0000;
}
#wrapper #navRightBox #nrImgs .daiFuK a:hover span {
  text-decoration: underline;
  color: #CC0000;
}
#wrapper #navRightBox #nrImgs .daiFuK a:hover i {
  background: url(../images/allbgs.png) no-repeat 0 -656px;
}
#wrapper #navRightBox #nrImgs .daiFaH a i {
  width: 56px;
  height: 45px;
  top: 8px;
  background: url(../images/allbgs.png) no-repeat 3px -287px;
}
#wrapper #navRightBox #nrImgs .daiFaH a:hover span {
  text-decoration: underline;
  color: #CC0000;
}
#wrapper #navRightBox #nrImgs .daiFaH a:hover i {
  background: url(../images/allbgs.png) no-repeat 3px -336px;
}
#wrapper #navRightBox #nrImgs .daiSaH a i {
  width: 59px;
  height: 45px;
  top: 8px;
  background: url(../images/allbgs.png) no-repeat 0 -241px;
}
#wrapper #navRightBox #nrImgs .daiSaH a:hover span {
  text-decoration: underline;
  color: #CC0000;
}
#wrapper #navRightBox #nrImgs .daiSaH a:hover i {
  background: url(../images/allbgs.png) no-repeat 0 -199px;
}
#wrapper #navRightBox #nrImgs .daiPingJ a i {
  width: 52px;
  height: 49px;
  top: 8px;
  background: url(../images/allbgs.png) no-repeat 7px -385px;
}
#wrapper #navRightBox #nrImgs .daiPingJ a:hover span {
  text-decoration: underline;
  color: #CC0000;
}
#wrapper #navRightBox #nrImgs .daiPingJ a:hover i {
  background: url(../images/allbgs.png) no-repeat 7px -437px;
}
#wrapper #navRightBox #navTable {
  display: block;
  width: 95%;
  height: 40px;
  margin: 0 auto;
  background-color: #F5F5F5;
  font-size: 16px;
  color: #333;
  border: 1px solid #E6E6E6;
  position: relative;
}
#wrapper #navRightBox #navTable li {
  display: block;
  height: 40px;
  float: left;
  margin: 0;
  line-height: 40px;
  text-align: center;
}
#wrapper #navRightBox #navTable .cell1 {
  width: 40%;
  height: 40px;
  text-align: center;
}
#wrapper #navRightBox #navTable .cell2 {
  width: 10%;
}
#wrapper #navRightBox #navTable .cell3 {
  width: 10%;
}
#wrapper #navRightBox #navTable .cell4 {
  width: 10%;
}
#wrapper #navRightBox #navTable .cell5 {
  width: 10%;
}
#wrapper #navRightBox #navTable .cell6 {
  width: 10%;
}
#wrapper #navRightBox #navTable .cell7 {
  width: 10%;
}
#wrapper #navRightBox #OrderInfo {
  width: 95%;
  height: 40px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #F5F5F5;
  font-size: 16px;
  color: #333;
}
#wrapper #navRightBox #OrderInfo p {
  display: block;
  height: 40px;
  float: left;
  margin: 0;
  line-height: 40px;
  text-align: center;
}
#wrapper #navRightBox #OrderInfo #orderNumber {
  width: 40%;
  text-align: left;
  padding-left: 2%;
}
#wrapper #navRightBox #OrderInfo #orderTime {
  margin-left: 20px;
}
#wrapper #navRightBox #goodsInfo {
  width: 95%;
  margin: 0 auto;
  margin-top: -1px;
  margin-bottom: 16px;
  background-color: white;
  font-size: 14px;
  color: #333;
  border: none;
  border-collapse: collapse;
}
#wrapper #navRightBox #goodsInfo tr {
  text-align: center;
  border: 1px solid #E6E6E6;
}
#wrapper #navRightBox #goodsInfo tr .gdi1{
  margin: 0;
  text-align: center;
  padding-left: 2%;
}
#wrapper #navRightBox #goodsInfo tr .gdi1 .infoBox {
  margin: 0;
  text-align: left;
}
#wrapper #navRightBox #goodsInfo tr .gdi1 .infoBox .goodsPic {
  display: block;
  width: 13%;
  border: 1px solid #E6E6E6;
  float: left;
  margin: 10px 5px 0 0px;
}
#wrapper #navRightBox #goodsInfo tr .gdi1 .infoBox .goodsPic img {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 10px;
}
#wrapper #navRightBox #goodsInfo tr .gdi1 .infoBox .goodsTitle {
  display: block;
  width: 40%;
  float: left;
  margin: 10px 0 0 5px;
  text-align: left;
  line-height: 18px;
  font-size: 14px;
  color: #3366CC;
}
#wrapper #navRightBox #goodsInfo tr .gdi1 .infoBox .gdi2 {
  display: block;
  width: 15%;
  margin-top: 10px;
  float: left;
  text-align: center;
  border-left: 1px solid #E6E6E6;
}
#wrapper #navRightBox #goodsInfo tr .gdi1 .infoBox .gdi3 {
  display: block;
  width: 15%;
  margin-top: 15px;
  float: left;
  text-align: center;
  border-left: 1px solid #E6E6E6;
}
#wrapper #navRightBox #goodsInfo tr .gdi1 .infoBox .gdi4 {
  display: block;
  width: 14.5%;
  margin-top: 10px;
  float: left;
  text-align: center;
  border-left: 1px solid #E6E6E6;
}
#wrapper #navRightBox #goodsInfo tr .gdi1 .infoBox .goodsKuai {
  display: block;
  width: 173px;
  margin: 5px 10px 20px 93px;
  text-align: left;
  line-height: 30px;
  font-size: 14px;
  color: #3366CC;
}
#wrapper #navRightBox #goodsInfo tr .gdi5 {
  width: 10%;
  border-left: 1px solid #E6E6E6;
}
#wrapper #navRightBox #goodsInfo tr .gdi6 {
  width: 10%;
  border-left: 1px solid #E6E6E6;
}
#wrapper #navRightBox #goodsInfo tr .gdi7 {
  width: 10%;
  height: 20px;
  border-left: 1px solid #E6E6E6;
}
#wrapper #navRightBox #goodsInfo tr .gdi7 a {
  color: #3366CC;
}
#wrapper #navRightBox #goodsInfo tr .gdi5 p,
#wrapper #navRightBox #goodsInfo tr .gdi6 p,
#wrapper #navRightBox #goodsInfo tr .gdi7 p {
  display: block;
  height: 20px;
  margin: 10px auto;
}
/*# sourceMappingURL=orderCenter.css.map */
#endFatherBox {
  width: 100%;
  border-top: 1 solid #E6E6E6;
  position: fixed;
  bottom: 0;
  background: #2D2D2D;
}
#endFatherBox #endBox {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  font-family: "微软雅黑";
  font-size: 12px;
  color: #666666;
}
#endFatherBox #endBox .endFoot {
  width: 90%;
  line-height: 20px;
  margin: 0px auto;
  padding: 10px 0;
}
#endFatherBox #endBox .endFoot span {
  display: block;
  float: right;
  color: #888888;
}
#endFatherBox #endBox .endFoot a {
  margin: 0;
  padding: 0 10px;
}
#endFatherBox #endBox .endFoot a:hover {
  cursor: default;
  text-decoration: none;
}
#endFatherBox #endBox .endFoot span {
  display: block;
  float: right;
  color: #888888;
}